[submodule "include/stb"]
	path = include/stb
	url = git@github.com:nothings/stb.git
[submodule "include/imgui"]
	path = include/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "include/glm"]
	path = include/glm
	url = git@github.com:g-truc/glm.git
[submodule "include/entt"]
	path = include/entt
	url = git@github.com:skypjack/entt.git
[submodule "include/ImGuizmo"]
	path = include/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "include/ImGuiFileDialog"]
	path = include/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
